
@font-face {
  font-family: "Lato-Regular";

  src: 
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff"); 
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?chsrqg');
    src:  url('../fonts/icomoon.eot?chsrqg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?chsrqg') format('truetype'),
      url('../fonts/icomoon.woff?chsrqg') format('woff'),
      url('../fonts/icomoon.svg?chsrqg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-comment:before {
    content: "\f075";
  }
  .icon-phone:before {
    content: "\f095";
  }
  .icon-twitter:before {
    content: "\f099";
  }
  .icon-facebook:before {
    content: "\f09a";
  }
  .icon-facebook-f:before {
    content: "\f09a";
  }
  .icon-envelope:before {
    content: "\f0e0";
  }
  .icon-dribbble:before {
    content: "\f17d";
  }
  .icon-behance:before {
    content: "\f1b4";
  }
  .icon-google:before {
    content: "\e900";
  }
  .icon-linkedin:before {
    content: "\e90b";
  }
  .icon-arrow-thin-down:before {
    content: "\e905";
  }
  .icon-clock:before {
    content: "\e906";
  }
  .icon-user:before {
    content: "\e902";
  }
  .icon-cog:before {
    content: "\e908";
  }
  .icon-home3:before {
    content: "\e904";
  }
  .icon-arrow-down2:before {
    content: "\ea3e";
  }
  